<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Eleventy Blog</title> 
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/components.css" rel="stylesheet">
</head> 
<body> 
  <div id='site-wrapper'>
    {% include 'header.html' %}

    <main> 
      {{ content | safe }}
    </main> 

    {% include 'footer.html' %}
  </div>

  <script src="/js/components.js"></script>
</body> 
</html>