<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Eleventy Blog</title> 
  <link href="/styles.css" rel="stylesheet">
  <script type="module" src="/js/index.js" />
</head> 
<body> 
  <header>
    Site Header
    <a href="/README">README</a>
  </header> 
  <main> 
    {{ content | safe }}

    <my-counter start="10"></my-counter>
    <my-counter></my-counter>
  </main> 
  <footer>Site Footer</footer> 
</body> 
</html>