nav.toc ol {
  list-style-type: disc;

  ol {
    list-style-type: circle;
  }
}

img.doc-header-image {
  width: 100%;
}

ul.doc-grid {
  padding: 0;
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--auto-grid-min-size), 100%), 1fr)
  );
  grid-gap: 1rem;
}

ul.doc-grid li {
  list-style-type: none;
  display: block;
}

ul.doc-grid img {
  margin-bottom: 0.5em;
}

ul.doc-grid p {
  margin-top: 0.3em;
  margin-bottom: 1em;
}
