:root {
  --wrapper-max-width: 100ch;
  --article-max-width: 60ch;

  --root-font-size: 18px;
  --font-text: Georgia, serif;
  --font-header: var(--system-fonts);
  --font-mono: "Input Mono", "Source Code Pro", "Monaco", monospace;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  --gap: 16px;
  margin: calc(var(--gap) / -2);

  & > * {
    padding: calc(var(--gap) / 2);
  }
}