:root {
  --wrapper-max-width: 100ch;
}

/* body {
  background: #151515;
  color: white;
}

a {
  color: white;
} */

.pixel {
  /* image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; */
}