:root {
  --wrapper-max-width: 100ch;
}

/* body {
  background: #151515;
  color: white;
}

a {
  color: white;
} */

.pixel {
  /* image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; */
}

.flex {
  display: flex;
  flex-wrap: wrap;
  --gap: 16px;
  margin: calc(var(--gap) / -2);

  & > * {
    padding: calc(var(--gap) / 2);
  }
}