#site-wrapper {
  max-width: 60ch;
  min-height: 100vh;
  margin: 0 auto;
  padding: 32px 12px;
}

#site-wrapper > header {
  margin-bottom: 40px;
}

main, article {
  margin-bottom: 40px;
}

article > * + * {
  margin-top: 1em;
}