#site-wrapper {
  max-width: var(--wrapper-max-width);
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 24px;
}

.site-layout {
  display: flex;
  flex-direction: row;

  header {
    min-width: 300px;
    max-width: 300px;
  }

  main {
    flex: 1 1 auto;
  }
}

#site-header {
  background: var(--gray-1);
  border-radius: 12px;
  min-height: 75vh;
  margin-right: 80px;
  padding: 24px;
  word-break: break-all;
}

.home-layout {
  width: 100%;

  article {
    max-width: none;
  }

  article.featured .post-body {
    columns: 2 30ch;
  }
}

article {
  max-width: var(--article-max-width);
  /* hyphens: auto; */
}

.flow > * + * {
  margin-top: 1em;
}

article > * + * {
  margin-top: 1em;
}

article > p + p {
  /* text-indent: 1.5em;
  margin-top: 0; */
}