:root {
  --root-font-size: 18px;
  font-family: Georgia, serif;
}

a {
  color: black;
}

blockquote {
  opacity: 0.6;
  padding-left: 1.5em;
  border-left: 4px solid silver;
}

pre {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 0.5em 1em;

  code {
    background: transparent;
    padding: 0;
  }
}

code {
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.doc-list-active a {
  font-weight: bold;
}

#site-header h1 a {
  text-decoration: none;
}