:root {
  font-family: var(--font-text);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}

a {
  color: black;
}

blockquote {
  opacity: 0.6;
  padding-left: 1.5em;
  border-left: 4px solid silver;
}

pre {
  font-family: var(--font-mono);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 0.5em 1em;

  code {
    background: transparent;
    padding: 0;
  }
}

code {
  font-family: var(--font-mono);
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.05);
  padding: 4px 6px 2px;
  border-radius: 4px;
  white-space: nowrap;
}

.doc-list-active a {
  font-weight: bold;
}

#site-header h1 {
  font-size: 1.2rem;

  a {
    text-decoration: none;
  }
}